<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
  <h1>Voici un potin !</h1>

<h3>Voici le potin n°<%= params["id"] %> </h3>  

<p>Voici l'auteur du Popotin :</p>
  <%= gossip_selected.author %>

  <p>Et voici le popotin :</p>

  <%= gossip_selected.content %>
  </br>
  </br>
  </br>
  <a href="/gossips/<%= params["id"]%>/edit/">Mets à jour ce ragot !</a>
  </br>
  </br>
  </br>
<h2> Comment on this gossip </h2>
<% comments.each_with_index do |comment,index| %>
    <p>Comment n°<%= index +1 %> :<br/><%= comment.comment %><br/>
    </p>
<% end %>
<br/> <%#form for comment#%>
<h3>Section Commentaire</h3>
  <form action='/gossips/<%= params['id'] %>/' method='POST'>
    Puts Ecris ton commentaire : <input type='text' name='gossip_comment'/>
    <br/>
    <input type='submit'/>
  </form>

    
  </body>
</html>